body{
		background-color: #0B0711;
		background: url(img/amber.png) no-repeat center fixed;
		background-size: cover;
		font-family: Verdana;
		color: white;
		margin: 1em auto;
		max-width: 40em;
		padding: 0 .62em;
}

h1,h2,h3 {
		line-height: 1.2;
}

a {
		color: orange;
		text-decoration: none;
		font-weight: bold;
    cursor: pointer;
}

a:hover {
		color: orange;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid orange;
    cursor: pointer;
}

blockquote {
		border-left: 4px solid #f0a000;
		padding: 0 1em;
		margin: .5em;
		color: white;
		display: inline-block;
}

details {
		color: orange;
}

img {
		max-width: 100%;
}

img + img {
		margin-top: 1em;
}

header {
		text-align: center;
    padding: 10px;
		max-width: 34em; 
    margin-left: auto;
    margin-right: auto;
}

header a  {
    color: #00fe00;
    border: 0;
}

.headerTitle {
    font-size: 1.3em;
}

.headerSubtitle {
    font-size: 0.85em;
    font-style: italic;
    width: 100%;
}

nav a.thisPage {
    font-weight: bold;
}

footer {
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    margin: auto;
    padding: .2em;
    width: 50%;
    border-top: 1px solid #f0a000;
}

footer img {
    margin-left: .2em;
    margin-right: .2em;
    vertical-align: middle;
}

main {
    text-align: left;
    margin: auto;
    padding: 1em 3em 1em 3em;
    line-height: 1.5;
    max-width: 80%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
    border-style: solid;
    border-color: #f0a000 transparent;
}


